<div class="container">
	<h3>Login</h3>
		<form action="/login" method="post">
			Username : <br><input type="text" name="user[username]"><br>
			Password : <br><input type="password" name="user[password]"><br>
			<input type="submit" value="Login">
		</form>

	<h3>Signup</h3>
		<form action="/signup" method="post">
			Username :<br><input type="text" name="user[username]"><br>
			E-mail :<br><input type="text" name="user[email]"><br>
			Password :<br><input type="password" name="user[password]"><br>
			<input type="submit" value="SignUp">
		</form>

</div>